@font-face{
    font-family:'Love';
    src:url('./Love-Regular.ttf') format('truetype');
}

body{
    background:#111;
    color:white;
    font-family:Arial,sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:90%;
    max-width:800px;
    text-align:center;
}

input{
    width:100%;
    padding:15px;
    font-size:20px;
    border-radius:10px;
}

#preview{
    margin-top:30px;
    font-family:'Love';
    font-size:80px;
    padding:20px;
    border:1px solid #444;
}
